.root {
  height: auto;
  padding: 20px;
}

.customerInfo {
}

.title {
  font-size: 1rem;
  font-weight: 600;
}

.boxWrapper {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.box {
  border: 1px solid #d1d1d1;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 6px;
}

.subTitle {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 1px;
  display: inline;
}

.languageSelect {
  width: 100%;
}
.languageSelect select {
  width: 100% !important;
}

.divider {
  height: 0.7px;
  width: 99%;
  background-color: #565656;
  margin: 15px auto;
}

.setup {
}

.headWrapper {
  display: flex;
  align-items: center;
}

.accordion {
  cursor: pointer;
}
.setupTitle {
  display: inline-block;
  margin-left: 5px;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.9rem;
}

.accordionContent {
  opacity: 0;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  height: 0px;
}

.accordionContent.show {
  opacity: 1;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
  height: auto;
}

.contentWrapper {
  display: inline-block;
  margin-right: 92px;

}

.setupSubTitle {
  font-size: 0.9rem;
  font-weight: 600;
  display: inline-block;
}

.firstTitle {
  margin-left: 40px;
}
.secondTitle {
  margin-left: 75px;
}
.thirdTitle {
  margin-left: 160px;
}

.OptionWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  gap: 10px;
  margin-bottom: 15px;
}
.inlineBox {
  border: 1px solid #d1d1d1;
  padding: 0px 6px;
  height: 30px;
  display: flex;
  align-items: center;
}

.sms {
  width: 80px;
}

.selectTitle {
  width: 120px;
  height: 30px;
  padding: 0 6px;
  border: 1px solid #d1d1d1;
  font-size: 0.9rem;
  font-weight: 400;
}

.status {
  width: 70px;
}

.invite {
  background-color: #f8e6d2;
  width: 70px;
  text-align: center !important;
  cursor: pointer;
}
.invite h3 {
  margin: auto;
}

.lastDate {
  width: 250px;
}
.saveBtn{
    display: inline;
}
button {
  background-color: #69a84f;
  border: none;
  color: white;
  padding: 7px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 40px;
  cursor: pointer;
}

.sendSms {
  display: flex;
  gap: 37px;
  flex-wrap: wrap;
}

.selectOption {
  margin-bottom: 15px;
}

.selectOption select {
  width: 180px;
  height: 30px;
  padding: 0 6px;
  border: 1px solid #d1d1d1;
  font-size: 0.9rem;
  font-weight: 400;
}

.selectOption select option {
  background-color: #fff;
}

.customMessage {
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid #d1d1d1;
  padding: 6px 6px;
}

.optionWrapperBox {
  border: 1px solid #565656;
  padding: 15px 15px 15px 5px;
  border-radius: 20px;
}

.submitCol {
  display: flex;
  align-items: flex-end;
}
